*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- Node.js Server Ignore ---
# 라이브러리 폴더 (용량이 크고 불필요함)
node_modules/
server/node_modules/

# 환경변수 및 비밀키 (보안상 절대 올리면 안 됨)
.env
server/.env
server/config/serviceAccountKey.json

# 맥(Mac) 운영체제 임시파일
.DS_Store