<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 추가됨 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moimi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.skt.tmap.sdk.API_KEY"
            android:value="AOdyR4LyWR1eENpQe8bDA1Jm8AkL2GssabUhp15X" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="moimi.app"
                    android:pathPrefix="/invite" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".FindAccountActivity" />
        <activity android:name=".ChatListActivity" />
        <activity android:name=".ChatRoomActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".RouteActivity" />
        <activity android:name=".RouteDetailActivity" />
        <activity android:name=".RestaurantActivity" />
        <activity android:name=".LocationShareActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".AddScheduleActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".MeetingListActivity" />
        <activity android:name=".SearchLocationActivity" />
        <activity android:name=".ScheduleDetailActivity" />

        <service
            android:name=".LocationService"
            android:foregroundServiceType="location"
            android:exported="false" />

    </application>

</manifest>